footer.footer-container
  .container
    .row
      .col-md-4
        p(style="color: white;") A full-service Australian immigration firm with experienced lawyers and years of experience handling complex migration matters for both individuals and organisations.
        p(style="color: white;") Google Reviews
        i.bi.bi-star-fill(style="color: white;") 5.0 (Top-rated company)
        p(style="color: white;") Google Reviews

        p(style="color: white;")
          | Sydney Office
          br
          | Level 5 46 Market Street
          br
          | Sydney NSW 2000
          br
          | Australia

        p(style="color: white;")
          | Hong Kong Office (By appointment only)
          br
          | Level 1 28 Stanley Street
          br
          | Central
          br
          | Hong Kong

        .col-md-2
          .social-icons
            i(class="bi bi-instagram", style="color: white;")
            i(class="bi bi-facebook", style="color: white;")
            i(class="bi bi-twitter-x", style="color: white;")
            i(class="bi bi-youtube", style="color: white;")
            i(class="bi bi-tiktok", style="color: white;")
            i(class="bi bi-spotify", style="color: white;")
            i(class="bi bi-chat-dots", style="color: white;")
            i(class="bi bi-xiaohongshu", style="color: white;")
            i(class="bi bi-apple-podcasts-logo-fill", style="color: white;")

      .col-md-2
        h3(style="color: white;") Services
        ul
          li(style="color: white;") Global Talent Scheme
          li(style="color: white;") General Skilled Migration
          li(style="color: white;") Business Innovation & Investment
          li(style="color: white;") Employer Sponsored Visas
          li(style="color: white;") Business Sponsorship Application
          li(style="color: white;") Education
          li(style="color: white;") Family Reunion

      .col-md-2
        h3(style="color: white;") Who we are
        ul
          li(style="color: white;") About company
          li(style="color: white;") Professionals
          li(style="color: white;") Newsroom

      .col-md-2
        h4(style="color: white;") Contact us
        h4(style="color: white;") Careers

  .footer-bottom
    p.text-center(style="color: white;")
      | © Riverwoods Lawyers Pty Limited trading as Riverwood Migration ABN 68 647 729 628. 
    p.text-center(style="color: white;")  
      | Liability limited by a scheme approved under Professional Standards Legislation.
