footer.footer-container
  .container
    .row
      // First column: Company Info and Reviews
      .col-md-4
        p A full-service Australian immigration firm with experienced lawyers and years of experience handling complex migration matters for both individuals and organisations.
        p Google Reviews
        i.bi.bi-star-fill p 5.0 (Top-rated company)
        p Google Reviews

        p
          | Sydney Office
          br
          | Level 5 46 Market Street
          br
          | Sydney NSW 2000
          br
          | Australia

        p
          | Hong Kong Office (By appointment only)
          br
          | Level 1 28 Stanley Street
          br
          | Central
          br
          | Hong Kong

        .col-md-2
          .social-icons
            i(class="bi bi-instagram")
            i(class="bi bi-facebook")
            i(class="bi bi-twitter-x")
            i(class="bi bi-youtube")
            i(class="bi bi-tiktok")
            i(class="bi bi-spotify")
            i(class="bi bi-chat-dots")
            i(class="bi bi-xiaohongshu")
            i(class="bi bi-apple-podcasts-logo-fill")

      .col-md-2
        h3 Services
        ul
          li Global Talent Scheme
          li General Skilled Migration
          li Business Innovation & Investment
          li Employer Sponsored Visas
          li Business Sponsorship Application
          li Education
          li Family Reunion

      // Third column: Who We Are
      .col-md-2
        h3 Who we are
        ul
          li About company
          li Professionals
          li Newsroom

      // Fourth column: Contact and Careers
      .col-md-2
        h4 Contact us
        h4 Careers

      
  // Footer bottom section
  .footer-bottom
    p.text-center
      | © Riverwoods Lawyers Pty Limited trading as Riverwood Migration ABN 68 647 729 628. Liability limited by a scheme approved under Professional Standards Legislation.
