doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Мій проект
  body
    ul.nav.justify-content-center
        li.nav-item
            a.nav-link.active(aria-current="page" href="#") Discover the firm +
        li.nav-item
            a.nav-link(href="#") Migration +
        li.nav-item
            a.nav-link(href="#") Education
        li.nav-item
        a.nav-link(href="#") Blog
        li.nav-item
        a.nav-link(href="#") Contact us
        li.nav-item
          a.nav-link(href="#") Book a consultation
      
    script(src="bundle.js")
